@keyframes pulse {
	0% {
		transform: scaleY(1);
	}

	50% {
		transform: scaleY(0.8);
	}

	100% {
		transform: scaleY(1);
	}
}

.skeleton-bar {
	animation: pulse 5s ease-in-out infinite;
	/* Ensures the scaling happens from the bottom */
}

.barchart {
	transform: rotate(180deg);
	overflow: visible;
}
